body{
    background-image: url(https://www.benningviolins.com/images/ARTICLE_ART/2021/Albert-Einstein-Violin.jpg);
    background-size: cover;
}
@import url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHgJ-nPTleFt0iZup-zH2GNV8E4dte2KuRvA&s:weight@300;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'promp';
color :yellow;
}
#inicio{
  background-color: #0c2139;
  color: #4ad295;
  height: I00vh;
}
section h1{
  font-size: 70px;
}
section img{
  width: 350px;
  margin: 0 50px;
}
section .info{
  width: 600px;
  margin: 0 50px;
}
.nacimiento{
  position: relative;
  left: -50px;
  opacity: 0;
}
.efecto-nacimiento{
  left: 0px;
  opacity: 1;
  transition: 1s linear;
}
.logros{
transform: scale(0.5);
opacity: 0;
}
.efecto-logros{
  transform: scale(1);
  opacity: 1;
}
.ciudad{
  position: relative;
  bottom: -80px;
  transition: 1s linear;
}

.ciudad{
  transform: scale(.5);
  opacity: 0;
}
.efecto-ciudad{
  
}
button {
  border: 0;
  background-image: linear-ground
    150deg,
    #9500ff,
    #09f,
    #00DDFF,
  border-radius: 5px;
  color: #fff;
  display: flex;
}
button span {
  background-color: #0c2139;
  padding: 6px 58px;
  border-radius: 58px;
  transition: .3s;
}